<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="uController" class="org.example.threeTierArchitectureDemo.controller.UsersController">    <!--创建界面层对象-->
        <property name="usersService" ref="uService"></property>
    </bean>
</beans>